<?xml version='1.0' encoding='utf-8'?>
<configuration>
  
  <connectionStrings>
    <add name="RemoteDatabase" connectionString="Server=192.168.1.32;Port=3306;Database=sys_datos;Uid=user;Pwd=dibal;Charset=utf8;" />
  </connectionStrings>
  
  
  <appSettings>
    
    <add key="DB_HOST" value="192.168.1.32" />
    <add key="DB_PORT" value="3306" />
    <add key="DB_USER" value="user" />
    <add key="DB_PASSWORD" value="dibal" />
    <add key="DB_DATABASE" value="sys_datos" />
    <add key="DB_CHARSET" value="utf8" />
    <add key="DB_CONNECT_TIMEOUT" value="10" />
    <add key="DB_READ_TIMEOUT" value="30" />
    <add key="DB_WRITE_TIMEOUT" value="30" />
    
    
    <add key="SECRET_KEY" value="dev-key-for-dblogix" />
    <add key="FLASK_DEBUG" value="False" />
    <add key="SESSION_TIMEOUT_HOURS" value="2" />
    <add key="SESSION_INACTIVITY_MINUTES" value="30" />
    
    
    <add key="COMPANY_NAME" value="Test Company SRL" />
    <add key="COMPANY_CIF_VAT" value="IT12345678901" />
    <add key="COMPANY_PHONE" value="+39 123 456789" />
    <add key="COMPANY_ADDRESS" value="Via Test 123" />
    <add key="COMPANY_POSTAL_CODE" value="12345" />
    <add key="COMPANY_CITY" value="Test City" />
    <add key="COMPANY_PROVINCE" value="Test Province" />
    <add key="COMPANY_LOGO_PATH" value="" />
    
    
    <add key="EXPIRY_WARNING_DAYS" value="7" />
    <add key="ARTICLES_PER_PACKAGE" value="5" />
    <add key="TIMEZONE" value="Europe/Rome" />
    <add key="DATE_FORMAT" value="%d/%m/%Y" />
    
    
    <add key="SMTP_SERVER" value="" />
    <add key="SMTP_PORT" value="587" />
    <add key="SMTP_USERNAME" value="" />
    <add key="SMTP_PASSWORD" value="" />
    <add key="SMTP_USE_TLS" value="True" />
    <add key="ADMIN_EMAIL" value="" />
    <add key="ENABLE_EMAIL_NOTIFICATIONS" value="False" />
    
    
    <add key="BACKUP_FREQUENCY_HOURS" value="24" />
    <add key="BACKUP_RETENTION_DAYS" value="7" />
    <add key="BACKUP_PATH" value="backups" />
    
    
    <add key="ENABLE_STOCK_ALERTS" value="True" />
    <add key="STOCK_ALERT_THRESHOLD" value="10" />
    <add key="EXPIRY_CHECK_FREQUENCY_HOURS" value="6" />
    
    
    <add key="LOG_LEVEL" value="INFO" />
    <add key="LOG_MAX_SIZE_MB" value="10" />
    
    
    <add key="ENABLE_CHAT_AUTO_CLEANUP" value="True" />
    <add key="CHAT_CLEANUP_FREQUENCY_DAYS" value="10" />
    <add key="ENABLE_CHAT_AUTO_BACKUP" value="True" />
    <add key="CHAT_BACKUP_RETENTION_DAYS" value="60" />
    <add key="CHAT_BACKUP_PATH" value="Backup/Chat/Custom" />
    
    
    <add key="ENABLE_CLIENTI_AUTO_BACKUP" value="True" />
    <add key="CLIENTI_BACKUP_FREQUENCY_DAYS" value="7" />
    <add key="CLIENTI_BACKUP_RETENTION_DAYS" value="30" />
    <add key="CLIENTI_BACKUP_PATH" value="Backup/Clienti" />
    
    
    <add key="ENABLE_DDT_AUTO_BACKUP" value="True" />
    <add key="DDT_BACKUP_FREQUENCY_DAYS" value="7" />
    <add key="DDT_BACKUP_RETENTION_DAYS" value="30" />
    <add key="DDT_BACKUP_PATH" value="Backup/DDT" />
    
    
    <add key="ENABLE_FATTURE_AUTO_BACKUP" value="True" />
    <add key="FATTURE_BACKUP_FREQUENCY_DAYS" value="7" />
    <add key="FATTURE_BACKUP_RETENTION_DAYS" value="30" />
    <add key="FATTURE_BACKUP_PATH" value="Backup/Fatture" />
    
    
    <add key="NETWORK_SCAN_TIMEOUT" value="5" />
    <add key="NETWORK_PREFIX" value="192.168.1" />
    
    
    <add key="APP_HOST" value="0.0.0.0" />
    <add key="APP_PORT" value="5000" />
    <add key="USE_SSL" value="True" />
  </appSettings>
</configuration>